<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" style="font-size: 20px;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Mission
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
      Be the global leader in providing end-to-end solutions in engineering and manufacturing for both hardware and software products in the high value added markets, satisfy our customers with innovative technology and superior quality, value and service.
      <br>
      <img  src="../../../assets/mission.jpg" style="height: 300px;" alt="">    
  </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" style="font-size: 20px;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        Vision
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
          Be a global technology driven company contributing to the enhancement of quality of life of the people and provide best value for all stake holders.
          <br>
          <img src="../../../assets/vision.jpg" style="height: 300px;" alt="">
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" style="font-size: 20px;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        Who We Are
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
          Engineering Transformation. NeST Digital is the software arm of the globally trusted NeST Group of companies. We combine our Specialized Manufacturing Services, Engineering Design and Software Services under one roof to provide transformative turnkey solutions to customers.
          <br>
          <img src="../../../assets/who we are.jpg" style="height: 300px;" alt="">
      </div>
    </div>
  </div>
  <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" style="font-size: 20px;" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
          What We Believe in
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body">
        </div>
        Our core values make us who we are today Our purpose and principles have shaped us into who we are today and they enable us to strive for greater heights. Every decision we make is closely aligned with our principles. These help us raise our bar, dive deep into challenges to achieve game-changing outcomes.
      <br>
    <img src="../../../assets/what we believe in.jpg" style="height: 300px;" alt="">  
    </div>
  </div>
</div>