<app-carousel></app-carousel>

<br>
<div style="text-align: center;">
  <div style="display: inline-block; vertical-align: middle; padding-right: 250px;">
      <h1 style="font-size: 70px; color: rgb(9, 0, 131);">60+</h1>
      <h6 style="font-size: 20px; color: blue;">CLIENT</h6>
  </div>
  <div style="display: inline-block; vertical-align: middle;">
    <h1 style="font-size: 70px; color: rgb(9, 0, 131);">25</h1>
    <h6 style="font-size: 20px; color: blue;">YEARS OF IT SOLUTIONS</h6>
  </div>
  <div style="display: inline-block; vertical-align: middle; padding-left: 250px;">
    <h1 style="font-size: 70px; color: rgb(9, 0, 131);">6</h1>
    <h6 style="font-size: 20px; color: blue;">COUNTRIES</h6>
  </div>
</div>
<br>

<app-accordion></app-accordion> <br>

<h3 class="Centers" style="color: blueviolet; padding-left: 30px;">Centers of Technology Excellence</h3>
<br>
<div class="row" style="text-align: center;">
  <div class="col" style="padding-left: 100px;">
    <div class="card" style="width: 25rem;">
        <div class="card-body">
          <h5 class="card-title">PEOPLE</h5>
          <br>
         <p> Our ability to coordinate globally distributed software engineering resources through robust operational processes and consistent project management methods enable us to rapidly mobilize resources wherever and whenever required.</p>
        </div>
      </div>
  </div>
  <div class="col">
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title">BUSINESS TRANSFORMATION</h5>
      <br>
      <p>NeST GDCs offer competitive and strategic solutions through a mix of global, regional, local and onsite expertise to help businesses and organizations successfully compete in today’s economic environment.</p>
      <br>     
    </div>
  </div>
  </div>
  </div> <br>